<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paramExport">
            <h2><span>Param Export</span> {{paramExport.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Pex Publish</span></dt>
                <dd>
                    <span>{{paramExport.pexPublish}}</span>
                </dd>
                <dt><span>Pex Dtlastexport</span></dt>
                <dd>
                    <span>{{paramExport.pexDtlastexport}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/param-export', paramExport.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
