<div>
    <h2 id="page-heading">
        <span>Ref Groupe Activites</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ref-groupe-activite" [routerLink]="['/ref-groupe-activite/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Ref Groupe Activite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="refGroupeActivites?.length === 0">
        <span>No refGroupeActivites found</span>
    </div>
    <div class="table-responsive" *ngIf="refGroupeActivites?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Rga Code</span></th>
            <th><span>Rga Lib Court</span></th>
            <th><span>Rga Lib Long</span></th>
            <th><span>Rga Comm</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let refGroupeActivite of refGroupeActivites ;trackBy: trackId">
                <td><a [routerLink]="['/ref-groupe-activite', refGroupeActivite.id, 'view' ]">{{refGroupeActivite.id}}</a></td>
                <td>{{refGroupeActivite.rgaCode}}</td>
                <td>{{refGroupeActivite.rgaLibCourt}}</td>
                <td>{{refGroupeActivite.rgaLibLong}}</td>
                <td>{{refGroupeActivite.rgaComm}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ref-groupe-activite', refGroupeActivite.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ref-groupe-activite', refGroupeActivite.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ref-groupe-activite', { outlets: { popup: refGroupeActivite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
